@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap')

@font-face
	font-family: "B-Wide"
	src: url("../fonts/B-Wide-Bold.woff2")format("woff2"),
	url("../fonts/B-Wide-Bold.woff") format("woff"),
	url("../fonts/B-Wide-Bold.ttf") format("truetype"),
	url("../fonts/B-Wide-Bold.svg") format("svg")
	font-weight: bold
	font-style: normal
