$circle-size: 100vw
$circleChangeTime: 1.5s

.main
	background-color: #C4C4C4
	background-image: linear-gradient(180deg, #E8DFDA 0%, #C9D1E0 100%)

.page-content
	display: flex
	flex-wrap: nowrap
	align-items: flex-end
	justify-content: space-between
	height: 100%
	width: 100%
	&__wrapper
		display: flex
		align-items: flex-end
		width: 100%
	&__block
		flex: 0 0 35vw
		max-width: 475px
		margin-left: 14vw
	&__text
		color: rgba(0, 0, 0, 0.6)
	&__link
		display: flex
		align-items: center
		margin-top: 3.125vw

.arrow
	cursor: pointer
	position: relative
	width: 80px
	//height: 45px
	margin-left: 20px
	& span
		position: relative
		top: 50%
		display: block
		width: 50px
		height: 2px
		background-color: currentColor
		left: 0
		transition: width 0.2s
		&::after
			content: ''
			position: absolute
			width: 25px
			height: 2px
			top: -8px
			right: -4px
			background-color: currentColor
			transform: rotate(45deg)
		&::before
			content: ''
			position: absolute
			width: 25px
			height: 2px
			top: 8px
			right: -4px
			background-color: currentColor
			transform: rotate(-45deg)

a:hover .arrow
	& span
		width: 70px

.main-menu
	display: flex
	flex-direction: column
	justify-content: flex-end
	height: 100%
	padding-left: 50px
	margin-left: auto
	color: rgba(0, 0, 0, 0.2)
	text-align: end
	z-index: 1
	& li
		user-select: none
		white-space: nowrap
	&__link
		font-weight: 600
		transition: color 0.5s ease-in
		&:not(:last-child)
			margin-bottom: 1.56vw
		&._active,
		&.active
			color: rgba(0, 0, 0, 1)
	&__link-item
		display: block
		color: currentColor
		text-decoration: none
		text-transform: capitalize
		transition: color 0.5s ease-in
		&.active
			color: rgba(0, 0, 0, 1)
	&__number
		margin-top: 2.35vw
		+B-Wide
		font-size: 7.5vw
		color: black
		line-height: 0.9

.main-circles
	position: absolute
	left: 0
	bottom: 0
	width: calc(900vw + 40px)
	height: 100%
	z-index: -100
	will-change: transform

.main-circle
	display: inline-block
	margin-top: -2.86vw
	z-index: -1
	width: 100vw
	height: 100vw
	//border-radius: 50%
	transform-origin: bottom center
	clip-path: circle(50% at center)
	transition: clip-path 1s
	will-change: clip-path
	&._half
		clip-path: circle(50% at center right)
		transition: clip-path 1s
	&:first-child
		margin-left: 40vw
//	background: linear-gradient(359.48deg, rgba(229, 215, 201, 0) 16.31%, #71A7B7 102.4%)
	//&:nth-child(2)
	//	background: linear-gradient(179.98deg, #A8ACB8 0.01%, rgba(168, 172, 184, 0) 65.03%)
	//&:nth-child(3)
	//	background: linear-gradient(180.43deg, #87B1CC 0.33%, #C3C9DD 64.46%)
	//&:nth-child(4)
	//	background: linear-gradient(178.46deg, #649677 0.84%, rgba(209, 193, 176, 0) 78.32%)
	//&:nth-child(5)
	//	background: linear-gradient(180deg, #D0C06B -0.02%, rgba(220, 173, 159, 0) 81.81%)
	//&:nth-child(6)
	//	background: linear-gradient(179.99deg, #6D83BA 0.01%, rgba(205, 186, 185, 0) 82.64%)
	//&:nth-child(7)
	//	background: linear-gradient(180deg, #A5CFDB -0.02%, rgba(172, 182, 197, 0) 81.98%)
	//&:nth-child(8)
	//	background: linear-gradient(179.99deg, #B7635B 0.01%, rgba(196, 166, 147, 0) 77.33%)


//@keyframes arrow
//	0%
//		left: 0
//	50%
//		left: 10px
//	100%
//		left: 0