.page.results
	padding-top: 13.43vh

	display: flex
	justify-content: space-between
	padding-left: 0
	padding-right: 0

.results-wrapper
	display: flex
	justify-content: space-between
	align-items: center
	width: 100%
	height: 100%
	padding-top: 10.64vh

.result-circle
	position: absolute
	display: flex
	flex-direction: column
	justify-content: center
	align-items: flex-start

	width: 0
	min-width: 12.5vw
	height: 0
	min-height: 12.5vw

	padding: 2.6vw
	border-radius: 50%
	backface-visibility: hidden
	background-color: transparent
	transform-origin: center
	&__name
		color: rgba(0, 0, 0, 0.2)
		font-size: 1.125em
		font-weight: 600
		white-space: nowrap
	&__grade
		font-family: "B-Wide", -apple-system, sans-serif
		font-size: 5vw

.view-icons
	display: flex
	flex-wrap: wrap
	align-self: flex-start
	margin-left: 60px
	&__text
		display: block
		width: 100%
		margin-bottom: 14px
		font-size: 1.125em
		font-weight: 600
	
.view-icon
	display: none
	&__label
		display: inline-block
		width: 2.5vw
		height: 2.5vw
		padding: 3% 2%
		border: 2px solid
		text-indent: -99999px
		opacity: 0.3
		cursor: pointer
		&:last-of-type
			margin-left: 0.3vw
	&._row + label
		background: url("../img/row-icon.svg") no-repeat center / 80%
	&._col + label
		background: url("../img/row-icon.svg") no-repeat center / 80%
		transform: rotate(90deg)
	&:checked + label
		opacity: 1
		transition: 0.5s

