.page.results
	padding-top: 13.43vh
	display: flex
	justify-content: space-between
	padding-left: 0
	padding-right: 0
	background-color: #e1dcdb
	background-image: none
	+max-screen(768px)
		padding-top: 80px

.slider
	position: absolute
	display: flex
	justify-content: space-between
	align-items: center
	width: 100%
	height: 100%
	._col &
		left: 0
		bottom: 0
		flex-direction: column

.results-wrapper
	position: absolute
	display: flex
	justify-content: space-between
	align-items: center
	width: 100%
	height: 100%
	padding-top: 10.64vh
	&._col
		bottom: 0
		flex-direction: column-reverse
		z-index: -999
		+max-screen(768px)
			display: flex
	+max-screen(768px)
		display: block

.slick-track
	display: flex !important
	align-items: center

.result-circle
	position: absolute
	display: flex !important
	flex-direction: column
	justify-content: center
	align-items: flex-start
	box-sizing: border-box
	width: 0
	height: 0
	padding: 2.6vw
	backface-visibility: hidden
	background-color: transparent
	transform-style: preserve-3d
	transform-origin: right center
	will-change: width, height
	+max-screen(768px)
		padding: 50px
		position: static
	& [data-parallax-scene]
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
	&__bkg
		z-index: 0
		width: 100%
		height: 100%
		border-radius: 50%
		will-change: opacity
	&__name
		position: relative
		z-index: 1
		color: rgba(0, 0, 0, 0.2)
		font-size: 1.125em
		font-weight: 600
		white-space: nowrap
	&__grade
		position: relative
		z-index: 1
		font-family: "B-Wide", -apple-system, sans-serif
		font-size: 96px
		will-change: opacity, margin
		+max-screen(570px)
			font-size: 48px

._col .result-circle
	align-items: center
	justify-content: flex-start
	min-width: auto
	min-height: auto
	padding: 8.3vw
	border-radius: 50%
	text-align: center
	transform-origin: center
	transform-style: preserve-3d
	transform: scale(0.1)
	transition: transform 1.2s
	+max-screen(768px)
		padding: 120px
		position: absolute
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		border-radius: 50% / 0
		background-image: linear-gradient(0deg, #e1dcdb 65%, rgba(225, 220, 219, 0) 90%)
	&__name
		color: currentColor
		font-size: 5.4vw
		+max-screen(1366px)
			font-size: 90px
		+max-screen(768px)
			font-size: 44px
		&:before
			content: "sphere of life"
			display: none
			margin-bottom: 5px
			font-size: 0.21em
			font-weight: normal
			+max-screen(1366px)
				font-size: 20px
	&__recommendation
		opacity: 0
		max-width: 30%
		margin-top: 10px
		transition: all 0.25s 0.6s
		z-index: 10
		line-height: 1.25
		._active &
			display: block
		+max-screen(1366px)
			max-width: 50%
			font-size: 14px

._col .result-circle._active
	transform: scale(1)
	.result-circle__name:before
		display: block
	.result-circle__recommendation
		opacity: 1
		margin-top: 25px
		+max-screen(1366px)
			margin-top: 20px
	& + .result-circle
		transform: scale(0.4)
		+max-screen(540px)
			transform: unset

.view-icons
	display: flex
	flex-wrap: wrap
	align-self: flex-start
	margin-left: 60px
	z-index: 999
	+max-screen(768px)
		margin-left: 50px
	+max-screen(540px)
		margin-left: 20px
	&__text
		display: block
		width: 100%
		margin-bottom: 14px
		font-size: 1.125em
		font-weight: 600
		+max-screen(1366px)
			font-size: 16px
		+max-screen(540px)
			font-size: 18px
			margin-bottom: 12px

.view-icon
	display: none
	&__label
		display: inline-block
		width: 2.5vw
		height: 2.5vw
		padding: 3% 2%
		border: 2px solid
		text-indent: -99999px
		opacity: 0.3
		cursor: pointer
		&:last-of-type
			margin-left: 6px
		&:hover ~ .cursor
			width: 55px
			height: 55px
		+max-screen(1366px)
			width: 48px
			height: 48px
		+max-screen(480px)
			width: 40px
			height: 40px
	&._row + label
		background: url("../img/row-icon.svg") no-repeat center / 80%
	&._col + label
		background: url("../img/col-icon.svg") no-repeat center / 60%
	&:checked + label
		opacity: 1
		transition: 0.5s

.test-menu
	position: fixed
	padding-top: 13.5vh
	&.questions-menu
		pointer-events: auto
		+max-screen(768px)
			display: block
			width: 100%
			top: 200px
			right: 0
			bottom: unset
			margin-bottom: 0
			white-space: nowrap
			overflow-x: scroll
			overflow-y: hidden
			padding:  0 40px 0 65px
	&__item
		position: relative
		padding-right: 25px
		cursor: pointer
		line-height: 1
		text-transform: capitalize
		transition: padding 0.6s, color 0.2s
		+max-screen(768px)
			display: inline-block
			text-align: start
			padding-right: 0
		&:not(:last-child)
			margin-bottom: 30px
			+max-screen(1366px)
				margin-bottom: 20px
			+max-screen(768px)
				margin-right: 55px
		&._active
			padding-right: 46px
			+max-screen(768px)
				padding-right: 0
		&:hover
			color: black
			& .test-menu__circle
				opacity: 1
	&__circle-parent
		position: absolute
		top: 4px
		right: 0
		width: 15px
		height: 15px
		margin-left: 10px
		display: inline-block
		vertical-align: middle
		pointer-events: none
		transition: all 0.5s
		+max-screen(768px)
			right: auto
			left: -20px
			margin-left: 0
		._active &
			width: 36px
			height: 36px
			+max-screen(768px)
				left: -45px
	&__circle
		display: block
		width: 100%
		height: 100%
		opacity: 0.2
		border-radius: 50%
		border: 2px solid #000
		transition: all 0.5s, border 0.2s, opacity 0.2s
		._active &
			opacity: 1
			border-width: 0
			transition: all 0.5s, border 0.1s, opacity 0s
	&__level
		display: block
		font-size: 0.78em
		font-weight: normal
		pointer-events: none
	&__grade
		position: fixed
		bottom: 80px
		right: 60px
		+B-Wide
		font-size: 7.5vw
		color: black
		line-height: 0.9
		opacity: 0
		pointer-events: none
		user-select: none
		transition: none
		._active &
			opacity: 1
			bottom: 60px
			transition: all 0.25s 0.6s
			+max-screen(768px)
				bottom: 10vh
		+max-screen(1366px)
			font-size: 100px
		+max-screen(768px)
			font-size: 96px
			bottom: 12vh
			left: 0
			right: 0
			text-align: center

canvas
	position: absolute
	top: 0
	left: 0
	border: 1px solid black
	z-index: 100
	background-color: #e1dcdb

.share-btns
	position: absolute
	bottom: 70px
	left: 60px
	opacity: 0
	z-index: 100
	display: flex
	flex-direction: column
	transition: all 50ms, opacity 0.5s !important
	&._ready
		opacity: 1
	&__text
		margin-left: 0.5em
	&__container
		display: flex
		justify-content: flex-start

//.react-sharing-button__link
//		opacity: 0
//		&._ready
//			opacity: 1


canvas
	z-index: -1000 !important
