.page.results
	padding-top: 13.43vh

	display: flex
	justify-content: space-between
	padding-left: 0
	padding-right: 0

.results-wrapper
	position: absolute
	display: flex
	justify-content: space-between
	align-items: center
	width: 100%
	height: 100%
	padding-top: 10.64vh
	&._col
		position: fixed
		bottom: -60vmax
		flex-direction: column-reverse
		z-index: -999

.result-circle
	position: absolute
	display: flex
	flex-direction: column
	justify-content: center
	align-items: flex-start
	box-sizing: border-box
	width: 0
	min-width: 12.5vw
	height: 0
	min-height: 12.5vw
	padding: 2.6vw
	border-radius: 50%
	backface-visibility: hidden
	background-color: transparent
	transform-origin: center
	&__name
		color: rgba(0, 0, 0, 0.2)
		font-size: 1.125em
		font-weight: 600
		white-space: nowrap
	&__grade
		font-family: "B-Wide", -apple-system, sans-serif
		font-size: 5vw

._col .result-circle
	align-items: center
	justify-content: flex-start
	padding: 8.3vw
	text-align: center
	transform-style: preserve-3d
	&__name
		color: currentColor
		font-size: 5.4vw
		&:before
			content: "sphere of life"
			display: none
			margin-bottom: 10px
			font-size: 0.21em
			font-weight: normal
	&__recommendation
		display: none
		opacity: 0
		._active &
			display: block

.result-circle._active
	.result-circle__name:before
		display: block
	.result-circle__recommendation
		display: block
			
.view-icons
	display: flex
	flex-wrap: wrap
	align-self: flex-start
	margin-left: 60px
	z-index: 999
	&__text
		display: block
		width: 100%
		margin-bottom: 14px
		font-size: 1.125em
		font-weight: 600
	
.view-icon
	display: none
	&__label
		display: inline-block
		width: 2.5vw
		height: 2.5vw
		padding: 3% 2%
		border: 2px solid
		text-indent: -99999px
		opacity: 0.3
		cursor: pointer
		&:last-of-type
			margin-left: 0.3vw
	&._row + label
		background: url("../img/row-icon.svg") no-repeat center / 80%
	&._col + label
		background: url("../img/col-icon.svg") no-repeat center / 60%
	&:checked + label
		opacity: 1
		transition: 0.5s

.test-menu
	position: fixed
	&__item
		position: relative
		margin-right: 25px
		cursor: pointer
		transition: margin 1.2s
		&:not(:last-child)
			margin-bottom: 2.6vw
		&._active
			margin-right: 46px
	&__circle
		position: absolute
		top: 0
		right: -25px
		display: inline-block
		vertical-align: middle
		opacity: 0.2
		width: 15px
		height: 15px
		margin-left: 10px
		border-radius: 50%
		border: 2px solid #000
		transition: opacity 0.2s, all 1s, border 0.2s 0.5s
		._active &
			right: -46px
			opacity: 1
			width: 36px
			height: 36px
			border-width: 0
			transition: opacity 0.2s, all 1s, border 0.1s
	&__level
		display: block
		font-size: 0.78em
		font-weight: normal
		pointer-events: none
