@import "TestPreloaders"

.test
	background-image: linear-gradient(180deg, #E8DFDA 0%, #C9D1E0 100%)

.page.questions
	+max-screen(500px)
		height: fit-content
		min-height: 100vh
		min-height: calc(var(--vh, 1vh) * 100)

.test-card
	position: relative
	width: 100%
	height: 100%
	padding-top: calc(23vh - 50px)
	+max-screen(768px)
		flex-direction: column
		padding-top: 110px
	&.question
		display: flex
	+max-screen(768px)
		padding-top: calc(15vh - 50px)
	+max-screen(570px)
		display: flex
		flex-direction: column
		justify-content: center
		padding-bottom: 55px
	+max-screen(500px)
		justify-content: flex-start
		padding-bottom: 20px

.test-header
	width: 46vw
	margin-top: 10vh
	&.lead-title
		line-height: 1.05
	+max-screen(1366px)
		width: 55vw
		margin-top: 2vh
	+max-screen(1280px)
		width: 600px
		&.lead-title
			font-size: 72px
	+max-screen(570px)
		width: 100%
		&.lead-title
			font-size: 34px

.test-subheader
	position: absolute
	left: 33vw
	bottom: 17vh
	white-space: nowrap
	& div
		display: block
		&:nth-child(2)
			padding-left: 12.5vw
		&:nth-child(3n)
			padding-left: 18.75vw
	+max-screen(1366px)
		left: auto
		right: -35px
		top: 11vh
		bottom: auto
	+max-screen(1024px)
		top: auto
		bottom: 10px
		& div
			&:first-child
				padding-left: 35%
			&:nth-child(2n)
				padding-left: 50%
	+max-screen(768px)
		left: 0
		right: auto
		& div
			&:first-child
				padding-left: 0
			&:nth-child(2)
				padding-left: 12.5vw
			&:nth-child(3n)
				padding-left: 18.75vw
	+max-screen(570px)
		display: none

.test-text
	width: 32vw
	margin-top: 2.78vh
	margin-left: 9.375vw
	//margin-right: calc(14vw - 60px)
	//margin-left: auto
	+max-screen(1280px)
		width: 465px
		margin-top: 7vh
	+max-screen(768px)
		margin-left: 0
		margin-top: 30px
	+max-screen(570px)
		width: 300px

.test-decoration
	&._circle
		position: absolute
		top: -37vh
		right: -76.2vw
		z-index: -1
		width: 93.75vw
		height: 93.75vw
		border-radius: 50%
		background-image: linear-gradient(#71A7B7 0, #cedbe4 100%)
		+max-screen(1024px)
			top: -15%
			right: -155%
			width: 160vw
			height: 160vw
		+max-screen(570px)
			height: 110vh
			top: -10vh
			right: -135%

.test-link
	position: absolute
	right: 0
	top: 50%
	margin-top: 0
	transform: translateY(-50%)
	+max-screen(570px)
		top: auto
		bottom: 0
		&.page-content__link
			margin-bottom: 0

.questions-menu
	position: absolute
	right: 60px
	top: 0
	height: auto
	padding-top: 23vh
	pointer-events: none
	+max-screen(768px)
		padding-top: 145px
	+max-screen(500px)
		position: fixed
		right: 20px
		bottom: calc(var(--vh, 1vh) * 12)
		padding-top: 0
	&__grade
		width: 0
		transform: scale(0)
		transform-origin: center
		transition: all 0.3s
		&:not(:empty)
			display: inline-flex
			justify-content: center
			align-content: center
			//width: 1.5em
			//height: 1.5em
			margin-left: 10px
			//border-radius: 50%
			//border: 1px solid currentColor
			color: currentColor
			vertical-align: middle
			transform: scale(1)

.questions
	position: relative
	&__bkg
		//position: absolute
		//top: 0
		//left: 0
		//width: 110vmax
		//height: 110vmax
		//transform: rotate(0deg)
		//transition: 0.2s
		position: absolute
		display: block
		width: 100%
		height: 100%
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: -1
		background-color: transparent
	& > div
		width: 100%
		height: 100%

[data-gradient]
	position: absolute
	display: block
	width: 100%
	height: 100%
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: -1

.question
	&__title
		width: 56vw
		max-width: 1100px
		margin-left: 5.73vw
		letter-spacing: -0.04em
		line-height: 1.05 !important
		&.lead-title
			+max-screen(1366px)
				font-size: 6.25vw
			+max-screen(768px)
				font-size: 7.2vw
				width: 78vw
				margin-left: 0
				order: 1
			+max-screen(500px)
				width: fit-content
				order: unset
				font-size: 10vw
				margin-bottom: 50px
	&__decoration
		position: absolute
		right: 10.5vw
		bottom: calc(15.37vw - 80px)
		white-space: nowrap
		+max-screen(768px)
			right: -10vw
			bottom: auto
			top: 15vh
		+max-screen(500px)
			display: none
	&__btns
		position: absolute
		bottom: 155px
		display: flex
		z-index: 3
		+max-screen(768px)
			position: static
			margin-top: 80px
			margin-bottom: 55px
		+max-screen(500px)
			position: fixed
			bottom: 0
			right: 20px
			margin-top: 70px
			margin-bottom: 20px
	&__btn
		position: relative
		display: flex
		align-items: center
		transition: all 0.5s
		+max-screen(500px)
			justify-content: flex-end
		&._hidden
			visibility: hidden
			opacity: 0
			left: -10%
			+max-screen(500px)
				display: none
		&._visible
			visibility: visible
			opacity: 1
			left: 0
		& svg
			width: 70px
			height: 62px
			margin-left: 20px
		& + &
			margin-left: 40px
			+max-screen(500px)
				margin-left: 15px
		&._prev
			& .arrow
				margin-left: 0
				margin-right: 20px
				transform: rotate(-180deg)

.grade
	position: absolute
	bottom: 0
	display: flex
	justify-content: space-between
	width: 100%
	padding-top: 1.5vw
	+max-screen(768px)
		flex-wrap: wrap
		bottom: 70px
	+max-screen(500px)
		position: static
		padding-left: 4px
		padding-right: 4px
		flex-direction: column
	&__item
		position: relative
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		width: 7vw
		height: 7vw
		color: rgba(#000, 0.2)
		font-size: 1.875vw
		font-weight: bold
		text-align: center
		transition: all 0.2s
		cursor: pointer
		+max-screen(1366px)
			font-size: 36px
		+max-screen(768px)
			width: 8.5vw
			height: 8.5vw
			&:not(:nth-child(5n+1))
				margin-left: 10vw
			&:nth-child(n+6)
				margin-top: 30px
		+max-screen(500px)
			width: 65px
			height: 65px
			&:not(:nth-child(5n+1))
				margin-left: 0
			&:nth-child(n+6),
			&:not(:first-child)
				margin-top: 25px
		& > a
			+B-Wide
			display: flex
			justify-content: center
			align-items: center
			z-index: 10
			color: currentColor
			text-decoration: navajowhite
		&:after
			content: ""
			position: absolute
			bottom: 0
			width: 100%
			height: 2px
			background-color: rgba(#000, 0.2)
			transition: all 0.2s
		&:before
			content: ""
			position: absolute
			top: -4px
			left: -4px
			opacity: 0
			width: 100%
			height: 100%
			border-radius: 50%
			border: 4px solid #000
			transform: scale(0.75)
			transition: 0.2s
		&:hover,
		&._choice
			color: #000
			&:after
				bottom: -20px
				opacity: 0
				transition: 0.2s
		&._choice
			cursor: default
			//pointer-events: none
			&:before
				opacity: 1
				transform: scale(1)
	&__note
		position: absolute
		bottom: -40px
		font-size: 0.9375vw
		+max-screen(1366px)
			font-size: 16px
		+max-screen(768px)
			bottom: 0
		+max-screen(500px)
			display: none
		&._low
			left: 0
		&._high
			right: 0

.counter
	display: flex
	flex: 0 0 auto
	margin-top: 10px
	font-weight: 600
	+max-screen(500px)
		align-items: center
	&__number
		+B-Wide
		font-size: 144px
		line-height: 0.8
		+max-screen(500px)
			+Poppins
			font-size: 22px
			line-height: normal
	&__static
		margin-left: 10px
		font-size: 22px
		font-style: italic
		opacity: 0.2
		+max-screen(500px)
			margin-left: 5px
			font-style: normal

.preloader
	position: fixed
	top: 0
	left: 0
	display: flex
	justify-content: center
	align-items: center
	width: 100%
	height: 100vh
	height: calc(var(--vh, 1vh) * 100)
	z-index: 110
	overflow: hidden
	//opacity: 0
	&__img
		position: absolute
		top: 50%
		left: 50%
		right: 0
		opacity: 0
		width: 110vmin
		max-width: 1188px
		height: 110vmin
		max-height: 1188px
		margin: auto
		border-radius: 50%
		//transform: translateX(-50%)
		transform-origin: center
		transform-style: preserve-3d
		background:
			repeat: no-repeat
			position: center
			//size: auto 110vh
			size: cover
		will-change: transform, opacity
		object-fit: cover
	&__content
		display: flex
		justify-content: center
		align-items: center
		z-index: 1
		opacity: 0
	&__text
		color: white
		font-size: 2.5vw
		z-index: 0
		transform-origin: center
		transform-style: preserve-3d
		+max-screen(1366px)
			font-size: 40px
		+max-screen(768px)
			font-size: 32px
		+max-screen(500px)
			font-size: 16px

.inner-logo
	display: flex
	width: 16.5vw
	margin: 0 4.17vw
	z-index: 0
	+max-screen(1366px)
		width: 19.35vw
	+max-screen(768px)
		width: 32.1vw
	+max-screen(500px)
		width: 28.8vw
	&__circle
		flex: 0 0 auto
		display: flex
		justify-content: center
		align-items: center
		width: 11vw
		height: 11vw
		background: white
		border-radius: 50%
		+max-screen(1366px)
			width: 12.9vw
			height: 12.9vw
		+max-screen(768px)
			width: 21.4vw
			height: 21.4vw
		+max-screen(500px)
			width: 19.2vw
			height: 19.2vw
		&._half
			margin-left: -5.5vw
			border-radius: 0
			clip-path: circle(50% at center right)
			+max-screen(1366px)
				margin-left: -6.5vw
			+max-screen(768px)
				margin-left: -10.5vw
			+max-screen(500px)
				margin-left: -9.5vw

._0 .inner-logo
	&__circle._full
		background-color: #7C929D
._1 .inner-logo
	&__circle._full
		background-color: #92949F
._2 .inner-logo
	&__circle._full
		background-color: #192F3D
._3 .inner-logo
	&__circle._full
		background-color: #4C7B5E
._4 .inner-logo
	&__circle._full
		background-color: #D8AA52
._5 .inner-logo
	&__circle._full
		background-color: #5B6787
._6 .inner-logo
	&__circle._full
		background-color: #92AEBC
._7 .inner-logo
	&__circle._full
		background-color: #B7645B
