.test
	background-image: linear-gradient(180deg, #E8DFDA 0%, #C9D1E0 100%)

.test-card
	position: relative
	width: 100%
	height: 100%
	padding-top: calc(23vh - 50px)
	&.question
		display: flex

.test-header
	width: 46vw
	margin-top: 10vh
	//margin-left: auto
	//margin-right: calc(27vw - 60px)
	&.lead-title
		line-height: 1.05

.test-subheader
	position: absolute
	left: 35vw
	bottom: 17vh
	//width: 60vw
	& span
		display: block
		&:nth-child(2)
			padding-left: 12.5vw
		&:nth-child(3n)
			padding-left: 18.75vw


.test-text
	width: 32vw
	margin-top: 2.78vh
	margin-left: 9.375vw
	//margin-right: calc(14vw - 60px)
	//margin-left: auto

.test-decoration
	&._circle
		position: absolute
		top: -37vh
		right: -76.2vw
		z-index: -1
		width: 93.75vw
		height: 93.75vw
		border-radius: 50%
		background-image: linear-gradient(359.5deg, rgba(229, 215, 201, 0) -8.55%, #71A7B7 102.42%)

.test-link
	position: absolute
	right: 0
	top: 50%
	margin-top: 0
	transform: translateY(-50%)

.questions-menu
	position: absolute
	right: 60px
	top: 0
	height: auto
	padding-top: 23vh
	&__grade
		width: 0
		transform: scale(0)
		transform-origin: center
		transition: all 0.3s
		&:not(:empty)
			display: inline-flex
			justify-content: center
			align-content: center
			//width: 1.5em
			//height: 1.5em
			margin-left: 10px
			//border-radius: 50%
			//border: 1px solid currentColor
			color: currentColor
			vertical-align: middle
			transform: scale(1)

.questions
	& > div
		width: 100%
		height: 100%

.question
	&__title
		width: 50vw
		max-width: 1100px
		margin-left: 5.73vw
		letter-spacing: -0.04em
		line-height: 1.05 !important
	&__decoration
		position: absolute
		right: 10.5vw
		bottom: calc(15.37vw - 80px)
	&__btns
		position: absolute
		bottom: 125px
		display: flex
	&__btn
		position: relative
		display: flex
		align-items: center
		transition: all 0.5s
		&._hidden
			visibility: hidden
			opacity: 0
			left: -10%
		&._visible
			visibility: visible
			opacity: 1
			left: 0
		& svg
			width: 70px
			height: 62px
			margin-left: 20px
		& + &
			margin-left: 40px
		&._prev
			& .arrow
				margin-left: 0
				margin-right: 20px
				transform: rotate(-180deg)

.grade
	position: absolute
	bottom: 0
	display: flex
	justify-content: space-between
	width: 100%
	&__item
		position: relative
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		width: 7vw
		height: 7vw
		//border-bottom: 2px solid #000
		color: rgba(#000, 0.2)
		font-size: 1.875vw
		font-weight: bold
		text-align: center
		//opacity: 0.2
		transition: all 0.2s
		cursor: pointer
		& > a
			+B-Wide
			display: flex
			justify-content: center
			align-items: center
			width: 100%
			height: 100%
			z-index: 10
			color: currentColor
			text-decoration: navajowhite
		&:after
			content: ""
			position: absolute
			bottom: 0
			width: 100%
			height: 2px
			background-color: rgba(#000, 0.2)
			transition: all 0.2s
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			opacity: 0
			width: 100%
			height: 100%
			border-radius: 50%
			border: 2px solid #000
			transform: scale(0.75)
			transition: 0.2s
		&:hover,
		&._choice
			color: #000
			&:after
				bottom: -20px
				opacity: 0
				transition: 0.2s
		&._choice
			cursor: default
			//pointer-events: none
			&:before
				opacity: 1
				transform: scale(1)
	&__note
		position: absolute
		bottom: -40px
		font-size: 0.9375vw
		&._low
			left: 0
		&._high
			right: 0

.counter
	display: flex
	flex: 0 0 auto
	margin-top: 10px
	font-weight: 600
	&__number
		+B-Wide
		font-size: 7.5vw
		line-height: 0.8
	&__static
		margin-left: 10px
		font-size: 22px
		font-style: italic
		opacity: 0.2

.preloader
	position: fixed
	top: 0
	left: 0
	display: flex
	justify-content: center
	align-items: center
	width: 100%
	height: 100vh
	z-index: 110
	overflow: hidden
	//opacity: 0
	&__img
		position: absolute
		top: -5vh
		left: 0
		right: 0
		width: 110vh
		height: 110vh
		margin: auto
		border-radius: 50%
		//transform: translateX(-50%)
		transform-origin: center
		background:
			repeat: no-repeat
			position: center
			//size: auto 110vh
			size: cover
		will-change: transform, opacity
	&__content
		display: flex
		justify-content: center
		align-items: center
		z-index: 1
		opacity: 0
	&__text
		color: white
		font-size: 2.5vw
		z-index: 0

._0 .preloader__img
	background-image: url("../img/preloader_work.jpg")
._1 .preloader__img
	background-image: url("../img/preloader_rel.jpg")
._2 .preloader__img
	background-image: url("../img/preloader_family.jpg")
._3 .preloader__img
	background-image: url("../img/preloader_health.jpg")
._4 .preloader__img
	background-image: url("../img/preloader_friends.jpg")
._5 .preloader__img
	background-image: url("../img/preloader_finance.jpg")
._6 .preloader__img
	background-image: url("../img/preloader_relax.jpg")
._7 .preloader__img
	background-image: url("../img/preloader_self.jpg")

.inner-logo
	display: flex
	width: 16.5vw
	margin: 0 4.17vw
	z-index: 0
	&__circle
		flex: 0 0 auto
		display: flex
		justify-content: center
		align-items: center
		width: 11vw
		height: 11vw
		background: white
		border-radius: 50%
		&._half
			margin-left: -5.5vw
			border-radius: 0
			clip-path: circle(50% at center right)

._0 .inner-logo
	&__circle._full
		background-color: #7C929D
._1 .inner-logo
	&__circle._full
		background-color: #92949F
._2 .inner-logo
	&__circle._full
		background-color: #192F3D
._3 .inner-logo
	&__circle._full
		background-color: #4C7B5E
._4 .inner-logo
	&__circle._full
		background-color: #D8AA52
._5 .inner-logo
	&__circle._full
		background-color: #5B6787
._6 .inner-logo
	&__circle._full
		background-color: #92AEBC
._7 .inner-logo
	&__circle._full
		background-color: #B7645B