@import "~normalize.css"
@import "./styles/Main.sass"
@import "./styles/Header.sass"

@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap')

*
	box-sizing: border-box
	font-family: 'Poppins', Helvetica, -apple-system, sans-serif

h1, h2, h3, h4, h5, h6, p, ul
	margin: 0
	padding: 0

ul
	list-style: none

.text
	font-size: 18px
	line-height: 1.5

.link
	font-size: 22px
	line-height: 1.5
	color: currentColor
	text-decoration: none

